

body, html{
    margin: 0;
    padding: 0;
}

body{
    background-color: #c7c7c7;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a{
    text-decoration: none;
    font-family: sans-serif;
    color: #030107;
}

ul{
    list-style-type: none;
}

span{
    font-family: sans-serif;
}

.header_contact{
    display: flex;
    flex-direction: row;
    background-color: #6fa051;
    width: 100%;
    height: 55px;
    position: relative;
    align-items: center;
    justify-content: space-between;
}
.header_contact ul{
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0 25px;    
}

.header_contact a{
    color: rgb(238, 238, 238);
    font-size: 14px;
    font-weight: 400;
    line-height: 55px;
}   

.header_contact ul:nth-child(1) li:nth-child(1){
    background-image: url(obrazkystr/Shape\ 11\ copy.png);
    background-repeat: no-repeat;
    background-position: 12px;
}

.header_contact ul:nth-child(1) li:nth-child(2){
    background-image: url(obrazkystr/Shape\ 353.png);
    background-repeat: no-repeat;
    background-position: 20px center;
}

.header_contact ul:nth-child(1) li:nth-child(3){
    background-image: url(obrazkystr/Shape\ 361\ copy\ 2.png);
    background-repeat: no-repeat;
    background-position: 15px;
}

.header_contact ul:nth-child(2) li:not(li:nth-child(4)){
    padding: 0 20px;
    border-right: 2px solid #fff;
    height: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.head_con_2{
    height: 100%;
    display: flex;
    align-items: center;
}

.header_contact ul:nth-child(2) li:nth-child(4){
    padding-left:20px;
    margin-right: 0;
} 

.header_contact li{
    padding-left: 40px;
}

.header_mid{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 140px;
    align-items: center; 
    color: rgb(1, 0, 7);
}

.header_mid ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}



.header_bot{
    height: 60px;
    background-color: #333333;
    width: 100%;
}

.header_bot ul{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-around;
    padding-top: 20px;
    font-weight: 600;
    padding-right: 15px;
    padding-left: 15px;
}

.header_bot a{
    color: #fff;
}

.srchbox{
    height: 50px;
    width: 450px;
    color: #444444;
    padding: 0 20px;
    border: 1px solid #e7e7e7;
    border-radius: 3px 0 0 3px;
    text-align: left;
    margin: 0;
    border-right: 0;
}

.sub{
    border-radius: 3px;
    height: 50px;
    width: 100px;
    background-color: #99CF15;
    border-style: none;
    color: #fff;
    font-weight: 900;
    position: relative;
    left: -7px;
    top: 1px;
}

.container{
    width: 1300px;
    background-color: #fff;
}

#nab{
    color: #99CF15;
    padding-right: 16px;
    background-image: url(obrazkystr/Shape\ 350\ copy\ 6.png);
    background-repeat: no-repeat;
    background-position: 55px 4px;
}

.textgal{
    display: flex;
    flex-direction: row;
    position: relative;
}

.textgal ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#obr_kos{
    background-image: url(obrazkystr/kos.png);
    background-color: #99CF15;
    background-repeat: no-repeat;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-position: center;
}

.obj{
    display: flex;
    flex-direction: row;
}

.cena{
    position: relative;
    left: 15px;
    top: 20px;
    color: #6fa051;
    font-family: sans-serif;
    font-weight: 700;
}

.pocet{
    background-image: url(obrazkystr/2.png);
    background-color: #363635;
    background-repeat: no-repeat;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-position: center;
    position: relative;
    left: 55px;
}

.registr{
    padding: 0;
    position: relative;
    top: 10px;
}

.obj li{
    padding: 0 15px;
    color: #1d1f1d;
}

.obj li:nth-child(1){
    border-right: 2px solid #1d1f1d;
    height: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
}

#logo{
    position: relative;
    right: 15px;
    top: 7px;
}

.grid_container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 530px 530px;
    column-gap: 22px;
    row-gap: 16px;
    padding: 0 20px;
}

.price{
    background-color: #99CF15;
    border-radius: 5px;
    height: 45px;
    width: 110px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}

.obr_prod{
    display: flex;
    text-align: center;
}

.grid_container .item{
    padding: 20px;
    border: 1px solid #b6b6b6;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 50% 50%;
    justify-items: center;
}

.popis{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.prod{
    font-weight: 600;
    line-height: 22px;
    font-size: 17px;
}

.prod_des{
    line-height: 24px;
    font-size: 15px;
    text-align: center;
}

.offer_type{
    display: flex;
    flex-direction: row;
    margin: 30px 0;
}

.offer_type ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1180px;
}

.offer_type ul li:nth-child(1){
    font-size: 30px;
    font-weight: 600;
}

.offer_type ul li:nth-child(2){
    font-size: 15px;
    background-image: url(obrazkystr/sipka.png);
    background-repeat: no-repeat;
    background-position: 204px 4px;
    padding-right: 25px;
    position: relative;
    left: 20px;
}

.bonus{
    background-color: #6fa051;
    height: 110px;
    position: relative;
    bottom: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.bonus ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 0;
    width: 1300px;
}

.bonus li{
    height: 50%;
    display: flex;
    align-items: center;
    color: #fff;
}

.event{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    bottom: 500px;
    right: 101px;
    height: 90px;
}


.Akce{
    background-color: rgb(255, 81, 0);
    color: #fff;
    padding: 6px 12px;
    height: 20px;
    padding-right: 0;
    width: 50px;
}

.Výprodej{
    height: 20px;
    background-color: rgb(255, 174, 0);
    color: #fff;
    padding: 6px 12px;
}

.Výprodej .d{
    position: relative;
    right: 1px;
}

.Doprava{
    height: 20px;
    background-color: rgb(45, 135, 33);
    color: #fff;
    padding: 6px 12px;
}

